[model]
provider = "openrouter" #openrouter, gemini, ollama
voice_actor = "id-ID-GadisNeural"
model = "cohere/north-mini-code:free"
max_command_depth = 10

# api_key = ""

[model.memory]
enabled = true
max_message = 10

[monitor]
enabled = true
interval = 60

[email]
email_host = "imap.gmail.com"
email_port = "993"
email_user = "example@gmail.com"
email_password = "xxxx xxxx xxxx xxxx"